@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
/* usage  font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
/* usage font-family: 'Roboto', sans-serif; */

*{
    padding:0;
    margin: 0;
}

.nav{
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    background-color: #6B70A5ff;
    
}

.nav-logo a{
    color: white;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.nav ul{
    display: flex;
    justify-content: space-around;;
    list-style: none;
    

}

.nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding-left: 30px;
    font-family: 'Montserrat', sans-serif;;
}

.hero{
    background-image: url(/assets/bg.png);
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-txt{
   text-align: center;
   padding-top: 32%;
}

.hero-txt-1{
    color:rgb(4, 4, 4);
    font-size: 40px;
    font-family:'Roboto', sans-serif ;
}

.hero-txt-2{
    color:rgb(4, 4, 4);
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;;
}

.section{
    padding: 50px 200px;
    background-color: #F0F2F9ff;
}

.sub-section{
    padding: 10px;
    margin-bottom: 15px;
}

.sub-section-heading{
    color:#6B70A5ff;
    font-size: 25px;
    font-family:'Roboto', sans-serif ;
}

.sub-section p{
    font-size: 15px;
    font-family:'Montserrat', sans-serif;
    line-height: 28px;
}

.footer{
    text-align: center;
    padding: 25px;
    background-color: #CDDBF6ff;
}
